  <div id="recipes">
    <% @recipes.each do |recipe| %>
      <%= render recipe %>
      <p>
        <%= link_to "Show this recipe", recipe, class: 'btn btn-info mb-2' %>
      </p>
    <% end %>
  </div>

  <%= link_to "New recipe", new_recipe_path, class: 'btn btn-primary mt-3' %>
