<div id="<%= dom_id recipe_food %>" class="card mb-3">
  <div class="card-body">
    <p class="card-text">
      <strong>Quantity:</strong>
      <%= recipe_food.quantity %>
    </p>

    <p class="card-text">
      <strong>Food:</strong>
      <%= recipe_food.food_id %>
    </p>

    <p class="card-text">
      <strong>Recipe:</strong>
      <%= recipe_food.recipe_id %>
    </p>
  </div>
</div>
